<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout HTML5</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header>
    Esse é o header do site.
  </header>

  <section class="section themeDark">
    <div class="container">
      <h1 class="title">Esse é o titulo da primeira seção do site</h1>
      <h2 class="subtitle px4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, impedit.</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illo voluptas officia perspiciatis, quasi sed illum voluptatibus obcaecati, aperiam a odio natus provident ipsam. Eum quis optio itaque dicta at libero maxime exercitationem velit quidem! Laboriosam, nisi. Cupiditate, aliquid amet?</p>
    </div>
  </section>

  <section class=" section themeLight">
    <div class="container">
      <h1 class="title">Esse é o titulo da primeira seção do site</h1>
      <h2 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, impedit.</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illo voluptas officia perspiciatis, quasi sed illum voluptatibus obcaecati, aperiam a odio natus provident ipsam. Eum quis optio itaque dicta at libero maxime exercitationem velit quidem! Laboriosam, nisi. Cupiditate, aliquid amet?</p>
    </div>
  </section>

  <section class="section themeDark">
      <div class="container">
        <h1 class="title">Esse é o titulo da primeira seção do site</h1>
        <h2 class="subtitle px4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, impedit.</h2>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illo voluptas officia perspiciatis, quasi sed illum voluptatibus obcaecati, aperiam a odio natus provident ipsam. Eum quis optio itaque dicta at libero maxime exercitationem velit quidem! Laboriosam, nisi. Cupiditate, aliquid amet?</p>
      </div>
    </section>
  
    <section class=" section themeLight">
      <div class="container">
        <h1 class="title">Esse é o titulo da primeira seção do site</h1>
        <h2 class="subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, impedit.</h2>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illo voluptas officia perspiciatis, quasi sed illum voluptatibus obcaecati, aperiam a odio natus provident ipsam. Eum quis optio itaque dicta at libero maxime exercitationem velit quidem! Laboriosam, nisi. Cupiditate, aliquid amet?</p>
      </div>
    </section>


    <section class="section themeLight">
        <div class="boxCrescer centerElements">
          <div class="aparecer">
            Fabrício Ziliotti
          </div>
        </div>

    </section>

    <section class="section themeDark">
        <div class="container">
          <h1 class="title">Esse é o titulo da primeira seção do site</h1>
          <h2 class="subtitle px4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, impedit.</h2>
          <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, illo voluptas officia perspiciatis, quasi sed illum voluptatibus obcaecati, aperiam a odio natus provident ipsam. Eum quis optio itaque dicta at libero maxime exercitationem velit quidem! Laboriosam, nisi. Cupiditate, aliquid amet?</p>
        </div>
      </section>

      <section class="section themeLight">
          <div class="box1 centerElements">
              <h1 class="title">Esse é o titulo da primeira seção do site</h1>
          </div>
  
      </section>
      <section class="section themeLight">
          <div class="box2">
          
          </div>
  
      </section>
      <section class="section themeLight">
          <div class="box3">
          </div>
      </section>



  
</body>
</html>