* {
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1;
    line-height: 2;
    padding: 2rem;
    background-color: #faf9f9;
  }
  
  input {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    font: inherit;
    line-height: 3rem;
    padding: 0 1rem;
  }
  
  button {
    font: inherit;
    line-height: 2rem;
    padding: 0 1rem;
  }
  
  p {
    margin-bottom: 1rem;
    
    &::before {
      opacity: .5;
      margin-right: .5rem;
    }
    
    &:nth-of-type(1)::before {
      content: 'p1: ';
    }
    
    &:nth-of-type(2)::before {
      content: 'p3: ';
    }
    
    &:nth-of-type(3)::before {
      content: 'p3: ';
    }
  }